{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add Book
{% endblock title %}


{% block body %}

<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Add Book</h2>						
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Login Section -->		
<div class="login-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 mx-auto">
                <div class="login-wrap register-form">
                    
                    <div class="login-header">
                        <h3>Add Book</h3>
                        <p>Share your book to <span>GeoBooks</span> Community</p>								
                    </div>
                    
                    <!-- Login Form -->
                    <form action="{% url 'books:add_book' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group group-img">
                            <div class="group-img">
                                <i class="feather-user"></i>
                                {{form.first_name}}
                            </div>
                        </div>
                        <div class="form-group group-img">
                            <div class="group-img">
                                {{form.last_name}}
                            </div>
                        </div>
                        <div class="form-group group-img">
                            <div class="group-img">
                                {{form.title}}
                            </div>
                        </div>
                        <div class="form-group group-img">
                            <div class="group-img">
                                <label for="category">Book Category</label>
                                {{form.category}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pass-group group-img">
                                {{form.description}}
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="pass-group group-img">
                                <label for="cover_image">Book Cover Image</label>
                                {{form.cover_image}}
                                
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="pass-group group-img">
                                <label for="book_file">Enter Your Location</label>
                                <input type="text" name="location" id="location" class="form-control" placeholder="Enter Location e.g. 123, XYX Street, City, Country" value="">
                            </div>
                        </div>

                        <div class="form-group" style="text-align: center;">
                            <p>
                                OR
                            </p>
                        </div>


                        <div class="form-group group-img">
                            <button id="get_location" class="btn btn-warning w-100 login-btn" type="button">Get Current Location</button>
                            <input type="hidden" name="latitude" id="latitude">
                            <input type="hidden" name="longitude" id="longitude">
                        </div>
                          
                        <button class="btn btn-primary w-100 login-btn" type="submit">Upload</button>
                      					
                    </form>
                    <!-- /Login Form -->
                                    
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- /Login Section -->

{% endblock body %}


{% block script %}
<script>
    $(document).ready(function(){
        $("#get_location").click(function(){
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else { 
                alert("Geolocation is not supported by this browser.");
            }
        });
    });

    function showPosition(position) {
        $("#latitude").val(position.coords.latitude);
        $("#longitude").val(position.coords.longitude);
        $("#location").val(position.coords.latitude + ", " + position.coords.longitude);
    }
</script>
{% endblock script %}
    