{% extends 'base.html' %}
{% load static %}

{% block title %} {{ book.title }} {% endblock title %}


{% block body %}
        <br>
        <br>
        <br>
        <br>
		<!--Details Description  Section-->
		<section class="details-description">
		    <div class="container">
			     
				  <div class="descriptionlinks">
					<div class="row">
						  <div class="col-lg-9">
                            <h4>{{book.title}}</h4><br>
							  <ul>
								  <li><a href="javascript:void(0);"><i class="feather-map"></i> Get Directions</a></li>
								  <li><a href="javascript:void(0);"><i class="feather-share-2"></i> share</a></li>
								  <li><a href="javascript:void(0);"><i class="feather-flag"></i> report</a></li>
							  </ul>
						  </div>
						  <div class="col-lg-3">
							  <div class="callnow">
								  <a href="phone:{{book.owner.user.phone_number}}"><i class="feather-phone-call"></i> Call Now</a>
							  </div>
						  </div>
					 </div>
				  </div>
			</div>		
		</section>
		<!--/Details Description  Section-->
		
		<!--Details Main  Section-->
		<div class="details-main-wrapper">	
            <div class="container">
			        <div class="row">
					  <div class="col-lg-9">                             					
							<div class="card ">
								<div class="card-header">
									<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
									</span> 
									<h4>Description</h4>
								</div>
								<div class="card-body">
									<p>{{ book.description }}</p>
								</div>
							</div>					
								
						
						
						
							
					</div>
					<div class="col-lg-3 theiaStickySidebar">
						<div class="rightsidebar">
						    <div class="card">
						     <h4><img  src="{% static 'assets/img/details-icon.svg' %}" alt="details-icon"> Details</h4>
						     <ul>
							    <li>Category <span>{{ book.category }}</span></li>
							    <li>Owner Contact <span>{{ book.owner.user.phone_number }}</span></li>
								<li>Location 
									<span>{{ location_name }}</span></li>
							    <li>Distance <span>{{ book_distance_from_user }} Kms</span></li>
							    
							 </ul>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>		
		</div>		
		<!-- /Details Main Section -->
		
{% endblock body %}
    