{% extends 'list_base.html' %}
{% load static %}


{% block body %}
   

<main class="main fl-gray-color col-lg-8">
    <section class="page-card">
        <div class="container">
            <div class="listing-top-info d-flex flex-wrap justify-content-sm-between justify-content-center align-items-center">
                <div class="listing-top-text mb-md-0 mb-4">Your search has <strong>120 </strong>results</div>
                <div class="buttons-list__grid mb-md-0 mb-4">
                    <a href="02_listings-list.html" class="list  ">
                        <i class="fa-solid fa-list"></i>
                    </a>
                    <a href="02_listings-grid.html" class="grid filter__active">
                        <i class="fa-solid fa-grip"></i>
                    </a>
                </div>
            </div>
            <div class="listing__products">
                <div class="row">
                    <div class=" col-12 col-xl-4 col-md-6">
                        <div class="listing-card ll-none">
                            <div class="listing-card__box listing-card__box_featured" data-marker="0">
                                <div class="listing-card__media shine">
                                    <a href="02_listings-grid.html">
                                        <img src="{% static 'img/listing-3.jpg' %}" width="360" height="270" alt="Fadisy Restaurant">
                                    </a>
                                    <div class="listing-card__bookmark active">
                                        Featured
                                    </div>
                                    <div class="listing-btn-action">
                                        <a class="listing-btn-ico view_more_link" href="02_listings-grid.html" data-uk-tooltip="View More" title="" data-aria-describedby="uk-tooltip-0">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Addto Compare" title="" data-aria-describedby="uk-tooltip-1">
                                            <i class="fa-solid fa-code-compare"></i>
                                            <i class="fa-solid fa-not-equal"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Add to Favorite" title="" data-aria-describedby="uk-tooltip-2">
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="listing-card__middle">
                                    <div class="listing-card__body">
                                        <div class="body-wrapper">
                                            <div class="title">
                                                <a href="#">Free Online Shopping</a>
                                            </div>

                                        </div>
                                        <div class="data_info">
                                            <i class="fa fa-map-pin"></i>Washington DC, USA
                                        </div>
                                        <p class="body-text">
                                            Quis nostrud exercitation ullamco laboris nisit
                                            aliquip ex ea commodo consequat...
                                        </p>
                                    </div>
                                    <div class="listing-card__info">
                                        <div class="info-wrapper">
                                            <div class="price">$3,250.00</div>
                                            <ul class="data-item d-flex justify-content-between">
                                                <li>Automatic</li>
                                                <li>Petrol</li>
                                                <li>AWD</li>
                                                <li>2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-xl-4 col-md-6">
                        <div class="listing-card ll-none">
                            <div class="listing-card__box" data-marker="1">
                                <div class="listing-card__media shine">
                                    <a href="02_listings-grid.html">
                                        <img src="{% static 'img/listing-1.jpg' %}" width="360" height="270" alt="Fadisy Restaurant">
                                    </a>
                                    <div class="listing-btn-action">
                                        <a class="listing-btn-ico view_more_link" href="02_listings-grid.html" data-uk-tooltip="View More" title="" data-aria-describedby="uk-tooltip-0">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Addto Compare" title="" data-aria-describedby="uk-tooltip-1">
                                            <i class="fa-solid fa-code-compare"></i>
                                            <i class="fa-solid fa-not-equal"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Add to Favorite" title="" data-aria-describedby="uk-tooltip-2">
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="listing-card__middle">
                                    <div class="listing-card__body">
                                        <div class="body-wrapper">
                                            <div class="title">
                                                <a href="#">Mercedes S-Class 2020 </a>
                                            </div>
                                            <div class="data_info">
                                                <i class="fa fa-map-pin"></i>Washington DC, USA
                                            </div>
                                        </div>
                                        <p class="body-text">
                                            Quis nostrud exercitation ullamco laboris nisit
                                            aliquip ex ea commodo consequat...
                                        </p>
                                    </div>
                                    <div class="listing-card__info">
                                        <div class="info-wrapper">
                                            <div class="price">$3,250.00</div>
                                            <ul class="data-item d-flex justify-content-between">
                                                <li>Automatic</li>
                                                <li>Petrol</li>
                                                <li>AWD</li>
                                                <li>2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-xl-4 col-md-6">
                        <div class="listing-card ll-none">
                            <div class="listing-card__box" data-marker="2">
                                <div class="listing-card__media shine">
                                    <a href="02_listings-grid.html">
                                        <img src="{% static 'img/listing-2.jpg' %}" width="360" height="270" alt="Fadisy Restaurant">
                                    </a>
                                    <div class="listing-btn-action">
                                        <a class="listing-btn-ico view_more_link" href="02_listings-grid.html" data-uk-tooltip="View More" title="" data-aria-describedby="uk-tooltip-0">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Addto Compare" title="" data-aria-describedby="uk-tooltip-1">
                                            <i class="fa-solid fa-code-compare"></i>
                                            <i class="fa-solid fa-not-equal"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Add to Favorite" title="" data-aria-describedby="uk-tooltip-2">
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="listing-card__middle">
                                    <div class="listing-card__body">
                                        <div class="body-wrapper">
                                            <div class="title">
                                                <a href="#">Zeon Luxury Apartments</a>
                                            </div>
                                        </div>
                                        <div class="data_info">
                                            <i class="fa fa-map-pin"></i>Washington DC, USA
                                        </div>
                                        <p class="body-text">
                                            Quis nostrud exercitation ullamco laboris nisit
                                            aliquip ex ea commodo consequat...
                                        </p>
                                    </div>
                                    <div class="listing-card__info">
                                        <div class="info-wrapper">
                                            <div class="price">$3,250.00</div>
                                            <ul class="data-item d-flex justify-content-between">
                                                <li>Automatic</li>
                                                <li>Petrol</li>
                                                <li>AWD</li>
                                                <li>2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-xl-4 col-md-6">
                        <div class="listing-card ll-none">
                            <div class="listing-card__box" data-marker="3">
                                <div class="listing-card__media shine">
                                    <a href="02_listings-grid.html">
                                        <img src="{% static 'img/listing-4.jpg' %}" width="360" height="270" alt="Fadisy Restaurant">
                                    </a>
                                    <div class="listing-btn-action">
                                        <a class="listing-btn-ico view_more_link" href="02_listings-grid.html" data-uk-tooltip="View More" title="" data-aria-describedby="uk-tooltip-0">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Addto Compare" title="" data-aria-describedby="uk-tooltip-1">
                                            <i class="fa-solid fa-code-compare"></i>
                                            <i class="fa-solid fa-not-equal"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Add to Favorite" title="" data-aria-describedby="uk-tooltip-2">
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="listing-card__middle">
                                    <div class="listing-card__body">
                                        <div class="body-wrapper">
                                            <div class="title">
                                                <a href="#">Traveling to Bankok</a>
                                            </div>

                                        </div>
                                        <div class="data_info">
                                            <i class="fa fa-map-pin"></i>Washington DC, USA
                                        </div>
                                        <p class="body-text">
                                            Quis nostrud exercitation ullamco laboris nisit
                                            aliquip ex ea commodo consequat...
                                        </p>
                                    </div>
                                    <div class="listing-card__info">
                                        <div class="info-wrapper">
                                            <div class="price">$3,250.00</div>
                                            <ul class="data-item d-flex justify-content-between">
                                                <li>Automatic</li>
                                                <li>Petrol</li>
                                                <li>AWD</li>
                                                <li>2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-xl-4 col-md-6">
                        <div class="listing-card ll-none">
                            <div class="listing-card__box" data-marker="4">
                                <div class="listing-card__media shine">
                                    <a href="02_listings-grid.html">
                                        <img src="{% static 'img/listing-1.jpg' %}" width="360" height="270" alt="Fadisy Restaurant">
                                    </a>
                                    <div class="listing-btn-action">
                                        <a class="listing-btn-ico view_more_link" href="02_listings-grid.html" data-uk-tooltip="View More" title="" data-aria-describedby="uk-tooltip-0">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Addto Compare" title="" data-aria-describedby="uk-tooltip-1">
                                            <i class="fa-solid fa-code-compare"></i>
                                            <i class="fa-solid fa-not-equal"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Add to Favorite" title="" data-aria-describedby="uk-tooltip-2">
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="listing-card__middle">
                                    <div class="listing-card__body">
                                        <div class="body-wrapper">
                                            <div class="title">
                                                <a href="#">Mercedes S-Class 2020 </a>
                                            </div>

                                        </div>
                                        <div class="data_info">
                                            <i class="fa fa-map-pin"></i>Washington DC, USA
                                        </div>
                                        <p class="body-text">
                                            Quis nostrud exercitation ullamco laboris nisit
                                            aliquip ex ea commodo consequat...
                                        </p>
                                    </div>
                                    <div class="listing-card__info">
                                        <div class="info-wrapper">
                                            <div class="price">$3,250.00</div>
                                            <ul class="data-item d-flex justify-content-between">
                                                <li>Automatic</li>
                                                <li>Petrol</li>
                                                <li>AWD</li>
                                                <li>2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-12 col-xl-4 col-md-6">
                        <div class="listing-card ll-none">
                            <div class="listing-card__box" data-marker="5">
                                <div class="listing-card__media shine">
                                    <a href="02_listings-grid.html">
                                        <img src="{% static 'img/listing-4.jpg' %}" width="360" height="270" alt="Fadisy Restaurant">
                                    </a>
                                    <div class="listing-btn-action">
                                        <a class="listing-btn-ico view_more_link" href="02_listings-grid.html" data-uk-tooltip="View More" title="" data-aria-describedby="uk-tooltip-0">
                                            <i class="fa-solid fa-eye"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Addto Compare" title="" data-aria-describedby="uk-tooltip-1">
                                            <i class="fa-solid fa-code-compare"></i>
                                            <i class="fa-solid fa-not-equal"></i>
                                        </a>
                                        <a class="listing-btn-ico listing-tgl-button" href="#" data-uk-tooltip="Add to Favorite" title="" data-aria-describedby="uk-tooltip-2">
                                            <i class="fa-regular fa-heart"></i>
                                            <i class="fa-solid fa-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="listing-card__middle">
                                    <div class="listing-card__body">
                                        <div class="body-wrapper">
                                            <div class="title">
                                                <a href="#">Traveling to Bankok</a>
                                            </div>

                                        </div>
                                        <div class="data_info">
                                            <i class="fa fa-map-pin"></i>Washington DC, USA
                                        </div>
                                        <p class="body-text">
                                            Quis nostrud exercitation ullamco laboris nisit
                                            aliquip ex ea commodo consequat...
                                        </p>
                                    </div>
                                    <div class="listing-card__info">
                                        <div class="info-wrapper">
                                            <div class="price">$3,250.00</div>
                                            <ul class="data-item d-flex justify-content-between">
                                                <li>Automatic</li>
                                                <li>Petrol</li>
                                                <li>AWD</li>
                                                <li>2021</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<aside class="aside map col-lg-4 f0f0f0">
    <div class="aside__map">
        <div id="map-canvas"></div>
    </div>
</aside>
</div>


{% endblock body %}
    