{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock title %}


{% block body %}

		
		<!-- Banner Section -->
        <section class="banner-section">	
            <div class="banner-circle">
                   <img src="{% static 'assets/img/bannerbg.png' %}" class="img-fluid" alt="bannercircle">
           </div>		
           <div class="container">
               <div class="home-banner">		
                   <div class="row align-items-center">					    
                       <div class="col-lg-7">
                           <div class="section-search aos" data-aos="fade-up">
                               <p class="explore-text"> <span>Explore top-rated attractions</span></p>
                                <img src="{% static 'assets/img/arrow-banner.png' %}" class="arrow-img" alt="arrow">
                                <h1>Let us help you <br>
                                <span>Find, Share</span> & Request Books</h1>
                                <p>
                                 With the GeoBooks, Get yourself novels, Stories and more books from your friends.</p>
                                   <div class="search-box">
                                     <form action="listing-grid-sidebar.html" class="d-flex"> 
                                       <div class="search-input line">											
                                           <div class="form-group">																							
                                               <select class="form-control select category-select">													
                                                   <option value="">Choose Category</option>
                                                    {% for category in categories %}
                                                        <option>{{category.name}}</option>
                                                    {% endfor %}
                                               </select>
                                           </div>
                                       </div>
                                       <div class="search-input">											
                                           <div class="form-group">												
                                               <div class="group-img">
                                                 <input type="text" class="form-control" placeholder="Choose Location">
                                                 <i class="feather-map-pin"></i>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="search-btn">
                                           <button class="btn btn-primary" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                                       </div>
                                     </form>
                                   </div>
                           </div>
                       </div>
                       <div class="col-lg-5">
                           <div class="banner-imgs">
                                 <img src="{% static 'assets/img/Right-img.png' %}" class="img-fluid" alt="bannerimage">							
                           </div>
                       </div>
                   </div>
               </div>	
           </div>
           <img src="{% static 'assets/img/bannerellipse.png' %}" class="img-fluid banner-elipse" alt="arrow">
           <img src="{% static 'assets/img/banner-arrow.png' %}" class="img-fluid bannerleftarrow" alt="arrow">
       </section>
       <!-- /Banner Section -->
       
       <!-- Category Section -->
       <section class="category-section">
           <div class="container">
              <div class="section-heading">
                <div class="row align-items-center">
                       <div class="col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                           <h2>Our  <span class="title-left">Cat</span>egory</h2>
                           <p>Share Books from Used Our Top Category</p>
                       </div>
                       <div class="col-md-6 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                           <a href="categories.html" class="btn  btn-view">View All</a>
                       </div>		
                </div>			     
              </div>	
               <div class="row">
                {% for category in categories  %}
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <a href="categories.html" class="category-links">
                        <h5>{{ category.name }}</h5>
                        <span>{{ category.book_count }} Books</span>
                        
                        </a> 
                    </div>
                {% endfor %}
                    
                  
               </div>			   
           </div>		
       </section>		
       <!-- /Category Section -->
       
       <section class="latestad-section grid-view featured-slider">	
        <div class="container">		
                <div class="section-heading">
                        <div class="row align-items-center">
                            <div class="col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                                    <h2>Recommen<span class="title-right">ded</span> Books</h2>
                                    <p>checkout these latest cool ads from our members</p>
                            </div>
                            <div class="col-md-6 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                                <a href="{% url 'books:book_list' %}" class="btn  btn-view">View All</a>
                            </div>		
                        </div>
                </div>
                <div class="lateestads-content">
                    <div class="row">
                     {% for book in nearby_books %}
                     <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                         <div class="card">
                             <div class="blog-widget">
                              <div class="blog-img">
                                 <a href="service-details.html">
                                     <img src="{{book.cover_image_thumbnail.url}}" class="img-fluid" alt="blog-img">
                                 </a>
                                 <div class="fav-item">
                                     <span class="Featured-text">{{book.category.name}}</span>
                                     <a href="javascript:void(0)" class="fav-icon">
                                         <i class="feather-heart"></i>
                                     </a>										
                                 </div>	
                              </div>
                              <div class="bloglist-content">
                                 <div class="card-body"> 
                                     <p><a href="service-details.html">{{ book.title | truncatechars:15 }}</a></p>																 
                                     <div class="blog-location-details">
                                        <div class="location-info">
                                          <i class="feather-map-pin"></i> {{book.city}}
                                        </div>
                                     </div>
                                     <div class="amount-details">
                                         <div class="ratings">
                                             <span>4.7</span> (50)
                                         </div>														
                                     </div>	
                                 </div>	
                               </div>			 
                             </div> 
                         </div>
                     </div>
                     {% endfor %}
                        
                    </div>						
                </div>						
        </div>
</section>	
<!-- /Latest Ads Section -->
       
       
       <!-- Latest Ads Section -->
        <section class="latestad-section grid-view featured-slider">	
               <div class="container">		
                       <div class="section-heading">
                               <div class="row align-items-center">
                                   <div class="col-md-6 aos aos-init aos-animate" data-aos="fade-up">
                                           <h2>Reco<span class="title-right">est</span> Ads</h2>
                                           <p>checkout these latest cool ads from our members</p>
                                   </div>
                                   <div class="col-md-6 text-md-end aos aos-init aos-animate" data-aos="fade-up">
                                       <a href="service-details.html" class="btn  btn-view">View All</a>
                                   </div>		
                               </div>
                       </div>
                       <div class="lateestads-content">
                           <div class="row">
                            {% for book in latest_books %}
                            <div class="col-6 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                <div class="card">
                                    <div class="blog-widget">
                                     <div class="blog-img">
                                        <a href="service-details.html">
                                            <img src="{{book.cover_image_thumbnail.url}}" class="img-fluid" alt="blog-img">
                                        </a>
                                        <div class="fav-item">
                                            <span class="Featured-text">{{book.category.name}}</span>
                                            <a href="javascript:void(0)" class="fav-icon">
                                                <i class="feather-heart"></i>
                                            </a>										
                                        </div>	
                                     </div>
                                     <div class="bloglist-content">
                                        <div class="card-body"> 
                                            <p><a href="service-details.html">{{ book.title | truncatechars:15 }}</a></p>																 
                                            <div class="blog-location-details">
                                               <div class="location-info">
                                                 <i class="feather-map-pin"></i> {{book.city}}
                                               </div>
                                            </div>
                                            <div class="amount-details">
                                                <div class="ratings">
                                                    <span>4.7</span> (50)
                                                </div>														
                                            </div>	
                                        </div>	
                                      </div>			 
                                    </div> 
                                </div>
                            </div>
                            {% endfor %}
                               
                           </div>						
                       </div>						
               </div>
       </section>	
       <!-- /Latest Ads Section -->
       
       
     
       
       
{% endblock body %}